{% extends 'base.html' %}


{% block title %}Lista de Cupcakes{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3>Filtros</h3>
            <form method="get">
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select class="form-control" id="categoria" name="categoria">
                        <option value="">Todas</option>
                        <option value="tradicional">Tradicional</option>
                        <option value="vegano">Vegano</option>
                        <option value="sem_glutem">Sem Glúten</option>
                    </select>
                </div>
                    </select>
                <div class="form-group">
                    <label for="sabor">Sabor</label>
                    <select class="form-control" id="sabor" name="sabor">
                        <option value="">Todos</option>
                        <option value="chocolate">Chocolate</option>
                        <option value="morango">Morango</option>
                        <option value="baunilha">Baunilha</option>
                        <option value="maracuja">Maracujá</option>
                        <option value="coco">Coco</option>
                        <option value="limao">Limão</option>
                        <option value="cenoura">Cenoura</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
            </form>
            <p>----------------------------------------------------------------------</p>
        </div>
        <div class="col-md-9">
            <h3>Nossos Cupcakes</h3>
            <div class="row">
                {% for produto in produtos %}
                    <div class="col-md-4 produto-item">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ produto.imagem.thumb.url }}" alt="{{ produto.nome }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ produto.nome }}</h5>
                                <p class="card-text">{{ produto.descricao }}</p>
                                <p class="card-text"><strong>Preço: </strong>{{ produto.preco }}</p>
                                <form method="post" action="{% url 'adicionar_ao_carrinho' produto.id %}">
                                    {% csrf_token %}
                                    <label for="decoracao">Decoração:</label>
                                    <select name="decoracao">
                                    {% for valor, texto in produto.DECORACAO_CHOICES %}
                                    <option value="{{ valor }}">{{ texto }}</option>
                                    {% endfor %}
                                    </select>
                                    <label for="cobertura">Cobertura:</label>
                                    <select name="cobertura">
                                    {% for valor, texto in produto.COBERTURA_CHOICES %}
                                    <option value="{{ valor }}">{{ texto }}</option>
                                    {% endfor %}
                                    </select>
                                    <button type="submit">Adicionar ao Carrinho</button>
                                </form>
                            </div>
                                <p></p>
                                <p>-------------------------------------------------------------------------</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

