{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block title %}Minha Conta{% endblock %}

{% block content %}

<h1 align="center" >LOGIN</h1>
    
    <div class="tela-login">
        
         <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary" type="submit">Entrar</button>
        <a href="{% url 'cadastro' %}">Clique Aqui</a>        
        </form>

    </div>


{% endblock %}
</body>
</html>


