{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Cupcakes</title>    
</head>
<body>
    
    {% block content %}
    
    <div class="container">
        <h1 align="center">Sobre Nossa Empresa</h1>
        <p>Nós somos a Cupcake Delights, uma empresa apaixonada por criar os cupcakes mais deliciosos e criativos para nossos clientes. Fundada em 2010 por um grupo de amigos que compartilhavam um amor pela confeitaria, nossa missão é proporcionar experiências saborosas e memoráveis para todos os amantes de doces.</p>
    
        <p>Em nossa cozinha, utilizamos apenas os melhores ingredientes, frescos e de origem local sempre que possível. Nosso compromisso com a qualidade se reflete em cada mordida dos nossos cupcakes, que são feitos com carinho e dedicação.</p>

        <p>Nossa equipe é formada por confeiteiros talentosos e criativos, que estão sempre experimentando novos sabores e decorações para surpreender nossos clientes. Além disso, estamos comprometidos com práticas sustentáveis em nossas operações, buscando minimizar nosso impacto no meio ambiente.</p>

        <p>Na Cupcake Delights, não apenas vendemos cupcakes, mas também criamos momentos especiais. Seja para celebrar um aniversário, um casamento, ou simplesmente para adoçar o seu dia, estamos aqui para tornar cada ocasião ainda mais doce e memorável.</p>

        <p>Estamos localizados na cidade de Sweetville e temos orgulho em servir nossa comunidade com os melhores cupcakes da região. Venha nos visitar e deixe-se levar pelo delicioso mundo dos cupcakes na Cupcake Delights!</p>
    </div>

    {% endblock %}

</body>
</html>
